@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@import "@fontsource-variable/geist";

:root {
  --color-index-background: #f0f0e4;

  font-family:
    "Outfit", "Zen Kaku Gothic New", "zen-kaku-gothic-new",
    "zen-kaku-gothic", sans-serif;
}

body {
  background-color: var(--color-index-background);
  font-family: inherit;
}

.index-background {
  background-color: var(--color-index-background);
}

/* パララックスアニメーション */
.parallax-image {
  transform: translate3d(0, 0, 0) scale(1.1);
  transform-origin: center;
  will-change: transform;
  transition: transform 0.1s ease-out;
}

@layer base {
  * {
    border-color: oklch(0.922 0 0);
    outline-color: oklch(0.708 0 0 / 50%);
  }

  body {
    color: oklch(0.145 0 0);
  }

  html {
    font-family:
      "Outfit", "Zen Kaku Gothic New", "zen-kaku-gothic-new",
      "zen-kaku-gothic", sans-serif;
  }
}